*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}
